
.container{
    position: absolute;
    top: 10vh;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(https://picsum.photos/1600/900);

}
.formContainer{
    width: 400px;
    height: fit-content;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: aliceblue;
    padding: 60px 10px;
    border-radius: 50%;
    opacity: 0.7;
}
.title,.inputItem,.submit{
    font-family: Girassol;
}
.formIcon{
    margin-bottom: 20px;
    width: 130px;
}
.inputItem{
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-weight: 900;
    
}
.inputItem::placeholder{
    padding-left: 5px;
    font-size: 1.2rem;
}
.submit{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 200px;
    font-size: 1.2rem;
    height: fit-content;
    border-radius: 10px;
}